.leaflet-locpicker-active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.leaflet-locpicker-map {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.leaflet-locpicker-marker {
    cursor: crosshair;
}

.leaflet-locpicker-close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font: 700 22px "Lucida Console", Monaco, monospace;
    text-indent: 1px;
}

.leaflet-locpicker-map .leaflet-container {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    cursor: crosshair;
    border: 1px solid rgba(100, 100, 100, 0.2);
}

.leaflet-locpicker-map .leaflet-control {
    box-shadow: none;
    margin: 0;
}

.leaflet-locpicker-map .leaflet-bar {
    border-radius: 0;
}

.leaflet-locpicker-map .leaflet-bar a:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.leaflet-locpicker-map .leaflet-bar a:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.map-select {
    display: block !important;
    position: relative;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    margin: 0 auto;
}
